{{#section 'css'}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {{!-- swiperjs --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/public/css/homepage.css">
{{/section}}

{{#section 'js'}}
{{/section}}
<div class="homepage_container">
    <div class="background_image">
        <button class="button_book_appointment">
            <a href="/patient/book-appointment" class="btn-a">Book Appointment</a>
        </button>
    </div>
    <div class="specialty-service-container">
        <div class="service-section">
            <h4 class="section-title">SERVICE</h4>
            <div class="service-grid">
                {{#each services}}
                <div class="service-item">
                    <img src="{{this.image}}" alt="{{this.name}}">
                    <h4 class="service-name" style="color: #B91A3C;">{{this.name}}</h4>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="specialty-section">
            <h4 class="section-title">SPECIALTY</h4>
            <ul class="specialty-list">
                {{#each specialties}}
                <li class="specialty-item">
                    <div class="specialty-icon">
                        <img src="{{this.icon}}" alt="{{this.name}}">
                    </div>
                    <div class="specialty-info">
                        <h3 class="specialty-name">{{this.name}}</h3>
                        <a href="/patient/specialty/{{this.id}}" class="view-detail">View detail</a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="doctor-team-container">
        <div class="doctors-team-section">
            <div class="doctor-title-container">
                <h2 class="section-doctor-title">Our Dedicated Doctors Team</h2>
            </div>
            <div class="doctors-list">
                {{#each doctors}}
                <div class="doctor-card">
                    <div class="doctor-image">
                        <img src="{{this.image}}" alt="{{this.name}}">
                    </div>
                    <h3 class="doctor-name">{{this.name}}</h3>
                    <p class="doctor-specialty">{{this.specialty_name}}</p>
                    <button class="view-profile-button" onclick="window.location.href='/doctor/{{this.id}}'">View Profile</button>
                </div>
                {{/each}}
            </div>
            <div class="slider-controls">
                <button class="prev-button">
                    <img src="/public/images/icon/icon_back.png" alt="">
                </button>
                <button class="next-button">
                    <img src="/public/images/icon/icon_forward.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>